@font-face {
  font-family: 'iconfont';  /* Project id 3363362 */
  src: url('//at.alicdn.com/t/font_3363362_vkbfnri5uon.woff2?t=1651203402627') format('woff2'),
       url('//at.alicdn.com/t/font_3363362_vkbfnri5uon.woff?t=1651203402627') format('woff'),
       url('//at.alicdn.com/t/font_3363362_vkbfnri5uon.ttf?t=1651203402627') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e8ad";
}
.icon-vedio:before {
  content: "\eca5";
}
.icon-jie:before {
  content: "\e749";
}
.icon-view:before {
  content: "\e63e";
}
.icon-jianjie:before {
  content: "\e6a2";
}
.icon-home:before {
  content: "\e601";
}